<!DOCTYPE html>
<html>
<head>
<title>TF&Ansible!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Welcome to nginx!</h1>
<h2>Hello from nginx web server created using Terraform and Ansible</h2>



<p><em>Thank you for using nginx.</em></p>
<p> CreatedBy aleksandra.ljuboje
<p>Running on {{ inventory_hostname }}</p>
</body>
</html>